.container-fluid{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#hero_main_text{
    color:black;
    font-size: 3em;
    font-weight: 650;
    
}
#hero_text{
    color:black;
    font-size: 1.30em;
    font-weight: 600;
    
}


.highlight_yellow{
    background: linear-gradient(to top, #eaff00 40%, transparent 40%);
}
.highlight_green{
    background: linear-gradient(to top, #98fb98 40%, transparent 40%);
}
.highlight_green2{
    background: linear-gradient(to top, #98fb98 27%, transparent 27%);
}

#section_heading{
    color:black;
    font-size: 2em;
    font-weight: 550;
}

#logo{
    width:100px;
}

.sponsor_grid{
    margin-top: 3em;
}

textarea{
    resize: none;
}

.submit_button{
    color: black;
    background-color: #98fb98;
    font-weight: 550;

}

.pseudo_code{
    font-family: monospace;
    font-size: 0.7em;
    color: rgb(39, 39, 39);
}


.presented_by{
    all:initial;
    font-family: monospace;
    font-size: 15px;
    font-weight: 500;
    /* font-style: italic; */
    margin-top: -100px;
}

.skill_bubble{
    font-family: monospace;
    color: white;
    border-radius: 40px;
    padding: 3px 6px 3px 6px;
    font-size: 0.6em;
}

.skill_bubble.coding{
    background-color: #079992;
}


.skill_bubble.analytics{
    background-color: #192a56;
}

.skill_bubble.mechanical{
    background-color: #b71540;
}

.skill_bubble.sensors{
    background-color: #5758BB;
}

.skill_bubble.ml{
    background-color: #FD7272;
}